<div class="header-container">
  <div class="title-container">
    <a href="/">
      <h1>Interplanetary Travel</h1>
    </a>
  </div>
  <a href="/dashboard">
    <div class="dashboard-button"></div>
  </a>
</div>