{{>header-navbar}}
{{> messages}}
{{!-- First mile is free --}}
<div class="dashboard-block">
  <div class="header">
    <h3>Expedition</h3>
  </div>
  <div class="line-break"></div>

  <div class="expeditions-block">
    <h3 class="header">Choose Planet:</h3>
    <h4>Choose your destination!</h4>
    <div class="planets-solar-system">
      <div class="orbit1"></div>
      <div class="orbit2"></div>
      <div class="orbit3"></div>
      <div class="orbit4"></div>
      <div class="orbit5"></div>
      <div class="orbit6"></div>
      <div class="orbit7"></div>
      <div class="orbit8"></div>
      <div class="orbit9"></div>
      <div class="sun">
        <div class="mercury">
          <img src="assets/images/planets/mercury.png" alt="mercury" />
        </div>
        <div class="venus">
          <img src="assets/images/planets/venus.png" alt="venus" />
        </div>
        <div class="earth">
          <img src="assets/images/planets/earth.png" alt="earth" />
        </div>
        <div class="moon">
          <img src="assets/images/planets/moon.png" alt="moon" />
        </div>
        <div class="mars">
          <img src="assets/images/planets/mars.png" alt="mars" />
        </div>
        <div class="jupiter">
          <img src="assets/images/planets/jupiter.png" alt="jupiter" />
        </div>
        <div class="saturn">
          <img src="assets/images/planets/saturn.png" alt="saturn" />
        </div>
        <div class="uranus">
          <img src="assets/images/planets/uranus.png" alt="uranus" />
        </div>
        <div class="neptune">
          <img src="assets/images/planets/neptune.png" alt="neptune" />
        </div>
        <div class="pluto">
          <img src="assets/images/planets/pluto.png" alt="pluto" />
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $("img").on("click", function () {
    const planet = $(this).attr("alt").charAt(0).toUpperCase() + $(this).attr("alt").slice(1);
    $.ajax(`/api/add/planet/${planet}`, {
      type: "POST"
    }).then(() => {
      setTimeout(function () { location.reload(true) }, 100);
    }).catch(err => console.log(err));
  });
</script>