{{>header-navbar}}
{{> messages}}
{{!-- First mile is free --}}
<a class="dashboard-block">
    <div class="header">
        <h3>Expedition</h3>
    </div>
    <div class="line-break"></div>

    <div class="expeditions-block">
        <h3 class="header">Choose Amenities:</h3>
        <h4>Choose your destination!</h4>
        <ul>
            <li>Mars</li>
            <li>Moon</li>
            <p>We are not providing travel services to the moon since it's so yesterday</p>
            <p>We shouldn't have to say this, but we're not providing travel services to the Sun due, for obvious
                reasons.
            </p>
            {{!-- GENERATE PLANETS HERE --}}
        </ul>

        <h4>Choose the company you want to fly with!</h4>
        <ul>
            {{!-- GENERATE COMPANIES HERE --}}
        </ul>
        <h4>Choose the rocket that will deliver you to the Heavens your next adventure!</h4>
        <ul>
            {{!-- BASED ON COMPANIES SHOW ROCKETS --}}
            {{!-- SELECT THING (+ and - buttons) --}}
            <li>how many passengers</li>
            <li>what amenities would you like to add (free chinese noodles included)
                {{!-- MODAL ADD JUST ONE --}}
            </li>
            <li>
                Are you sure you want to come back to Earth?
                {{!-- SCHEDULE RETURN FLIGHT AS WELL --}}
            </li>
        </ul>
    </div>




    </div>
    </div>