{{>header-navbar}}
{{> messages}}
<a href="/logout">
    <div class="logout-button">Logout</div>
</a>
<a href="/api/reset">
    <div class="reset-button">Reset</div>
</a>
<div class="dashboard-block">
    <div class="header">
        <h3>Expedition</h3>
    </div>
    <div class="line-break"></div>

    <div class="expeditions-block">
        <h3 class="header">Choose the Launch Date:</h3>
        <form name="timestamp-form" id="timestamp-form" action="/api/add/timestamp" method="POST">
            <input type="date" name="timestamp" id="timestamp">
            <button type="submit">You are go for launch!</button>
        </form>
    </div>
</div>