{{>header-navbar}}
{{> messages}}
{{!-- First mile is free --}}
<div class="dashboard-block">
    <div class="header">
        <h3>Expedition</h3>
    </div>
    <div class="line-break"></div>

    <div class="expeditions-block">
        <h3 class="header">Choose Rocket:</h3>
        <h4>Choose your destination!</h4>
        <ul>
            {{#each rockets}}
            <li>{{ dataValues.name }}<button data-rocket={{ dataValues.id }}>Choose</button></li>
            {{/each}}
        </ul>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $("button").on("click", function () {
        const rocketId = $(this).data("rocket");
        console.log(rocketId);
        $.ajax(`/api/add/rocket/${rocketId}`, {
            type: "POST"
        }).then(() => {
            setTimeout(function () { location.reload(true) }, 100);
        }).catch(err => console.log(err));
    });
</script>