{{>header-navbar}}
{{> messages}}
{{!-- First mile is free --}}
<div class="dashboard-block">
    <div class="header">
        <h3>Expedition</h3>
    </div>
    <div class="line-break"></div>

    <div class="expeditions-block">
        <h3 class="header">Choose Amenities:</h3>
        <h4>Choose your destination!</h4>
        <ul>
            {{#each amenities}}
            <li>
                {{ dataValues.name }} ${{ dataValues.cost }} {{ dataValues.description }}

                <button data-add data-amenity-id={{ dataValues.id }}>Add</button>
            </li>
            {{/each}}
        </ul>
        <button data-finalize>Finalize Amenities</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    //    $("[data-delete]").on("click", function () {
    //        const amenityId = $(this).data("amenity-id");
    //        console.log(amenityId);
    //        $.ajax(`/api/delete/amenity/${amenityId}`, {
    //            type: "DELETE"
    //        }).then((result) => {
    //            setTimeout(function () { location.reload(true); console.log(result) }, 5000);
    //        }).catch(err => console.log(err));
    //    });

    $("[data-add]").on("click", function () {
        const amenityId = $(this).data("amenity-id");
        console.log(amenityId);
        $.ajax(`/api/add/amenity/${amenityId}`, {
            type: "POST"
        }).then((result) => {
            setTimeout(function () { location.reload(true); console.log(result) }, 100);
        }).catch(err => console.log(err));
    });

//    $("[data-finalize]").on("click", function () {
//        $.ajax(`/api/amenity/finalize`, {
//            type: "POST"
//        }).then((result) => {
//            setTimeout(function () { location.reload(true); console.log(result) }, 5000);
//        }).catch(err => console.log(err));
//    }); 
</script>