{{>header-navbar}}
{{> messages}}
{{!-- First mile is free --}}
<a href="/logout">
    <div class="logout-button">Logout</div>
</a>
<div class="dashboard-block">
    <div class="header">
        <h3>Expedition</h3>
    </div>
    <div class="line-break"></div>

    <div class="success-block">
        <h3 class="header">Success!</h3>
        <img src="/assets/images/thumbs_up.gif" alt="thumbs up" />
    </div>
</div>