{{>header}}
<div class="welcome-block">
  <div class="cosmos">
    <!-- left side stars -->
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <!-- right side stars -->
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
    <div class="star"><img src="assets/images/star.png"></div>
  </div>
  <div class="rocket"></div>
  <div id="welcome-title">
    <h2>Space Flights With Us</h2>
  </div>
</div>

<div class="about-block">
  <div class="about-text">
    <div class="welcome-text">
      <p>
        The first human-made object to touch the Moon was the Soviet Union's Luna 2, on September 13th 1959. The first
        humans and iconic astronauts to ever land on the moon were commander Neil Armstrong and pilot Buzz Aldrin. Since
        then space travel has become more accessible through the use of modern rockets. This trend will continue to
        become more available with the advancement of reusable rockets and space craft. The need to visit the outer
        reaches of our solar system for business development or personal opportunities and discovery has never been
        easier, that's where Interplanetary Space Travel comes in.
      </p>
    </div>
    <div class="welcome-text">
      <p>Interplanetary Space Travel company arranges travel for our clients to numerous places in our solar system. We
        will match our clients with the perfect flight option to reach their desired interplanetary destination in
        comfort and style.
        Simply click on the planets tab to the left of the homepage to start the first steps of your amazing journey.
      </p>
    </div>
  </div>
  <div class="about-company-text">
    <div class="about-planets">
      <p>Interplanetary Space Travel was founded on the idea that space flight should be easily accessible and
        affordable
        for everyone. Our company is committed to giving you a fast and secure travel experience. With many rockets to
        choose from and amazing travel amenities that can be tailored to your individual comfort level, there's no
        destination beyond our reach within our Solar System.</p>
    </div>
    <iframe width="300" height="300" src="https://www.youtube.com/embed/sZlzYzyREAI" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="planets-block">
  <div class="planets-modal">
    <div class="modal-image"><img id="planet-portrait" src="assets/images/planets/earth.png" alt="earth"></div>
    <div class="modal-header">
      <h4 id="planet-title">Earth</h4>
    </div>
    <div class="line-break"></div>
    <div class="modal-text">
      <p id="planet-info">
        This will be our launch point and also our return point. Oxygen, H2O and Mineral rich planet with a perfect
        distance from the sun. You'll be glad to come back to this solar oasis after your long interplanetary journey.
      </p>
    </div>
  </div>



  <div class="planets-solar-system">
    <div class="orbit1"></div>
    <div class="orbit2"></div>
    <div class="orbit3"></div>
    <div class="orbit4"></div>
    <div class="orbit5"></div>
    <div class="orbit6"></div>
    <div class="orbit7"></div>
    <div class="orbit8"></div>
    <div class="orbit9"></div>
    <div class="sun">
      <div class="mercury">
        <img src="assets/images/planets/mercury.png" alt="mercury" />
      </div>
      <div class="venus">
        <img src="assets/images/planets/venus.png" alt="venus" />
      </div>
      <div class="earth">
        <img src="assets/images/planets/earth.png" alt="earth" />
      </div>
      <div class="moon">
        <img src="assets/images/planets/moon.png" alt="moon" />
      </div>
      <div class="mars">
        <img src="assets/images/planets/mars.png" alt="mars" />
      </div>
      <div class="jupiter">
        <img src="assets/images/planets/jupiter.png" alt="jupiter" />
      </div>
      <div class="saturn">
        <img src="assets/images/planets/saturn.png" alt="saturn" />
      </div>
      <div class="uranus">
        <img src="assets/images/planets/uranus.png" alt="uranus" />
      </div>
      <div class="neptune">
        <img src="assets/images/planets/neptune.png" alt="neptune" />
      </div>
      <div class="pluto">
        <img src="assets/images/planets/pluto.png" alt="pluto" />
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready((function () {
  const planets = [
    {
      info: "Named after the Roman goddess of love and beauty. At 23.8 Million miles from Earth, Venus boast an atmosphere consisting of mostly carbon dioxide, with clouds of sulfuric acid droplets. For all the people who complain about being 'cold' on Earth, Venus's thick atmosphere traps the Sun's heat resulting in a slightly 880 degrees Fahrenheit. Be sure to bring lots of water or upgrade your amenities. You'll need every freakin' drop of that great H20!",
      name: "venus",
      portrait: "assets/images/planets/venus.png"
    },
    {
      info: "Saturn is the most distant planet that can be seen with the naked eye. It is one of the flattest planets so you and your love ones will enjoy endless long walks and birthdays that come only every 29.4 years. For being so far out in our Solar System Saturn has gained numerous admirers, namely it's 150 moons and moonlets. Be sure to bring eyewear as Saturn boast being the fifth brightest object the Solar System. With highly visible rings made of dust, ice and rock our pilots have never gotten lost voyaging to this far out planet. ",
      name: "saturn",
      portrait: "assets/images/planets/saturn.png"
    },
    {
      info: "This will be our launch point and also our return point.  Oxygen, H2O and Mineral rich planet with a perfect distance from the sun. You'll be glad to come back to this solar oasis after your long interplanetary	journey.",
      name: "earth",
      portrait: "assets/images/planets/earth.png"
    },
    {
      info: "Discovered in 1781 by astronomer William Herschel, Uranus was the first planet to be found using a telescope. If you need to 'cool off' from your earthly worries, Uranus is an Ice Giant nearly four times larger than Earth.  You'll need to bring your equilibrium medication since Uranus rotates east to west on its side. Don't be worried that this planet doesn't support life, you may just want to bury any likeness of your distant past.",
      name: "uranus",
      portrait: "assets/images/planets/uranus.png"
    },
    {
      info: "A carbon dioxide rich, red planet that is 48.6 million miles from earth. This planet is on target to become one of the first planets that will be colonized by Space X founder Elon Musk. Travel to this planet in a Starship capsule powered by liquid methane engines. With guaranteed aerial refueling stations you'll be sure to make this a family vacation spot for years to come. Oh, pack a light jacket as Mars averages -81 degrees Fahrenheit and with wintertime lows at -220 degrees Fahrenheit 'burrrrrrrr'.",
      name: "mars",
      portrait: "assets/images/planets/mars.png"
    },
    {
      info: "This Massive planet in our solar system is 318 times more massive than the earth. In fact Jupiter is 2.5 times more massive than all the of the planets in our Solar System combined. Flying to Jupiter isn't cheap with only seven visits by spacecraft. If your feeling like you need a little jumpstart to your day you'll quickly be whipped into shape as Jupiter  rotates at around 28,148 mph. Equally a quick night & day cycle will happen in only 10 hours so be ready to carpe diem. Be sure to pack an extra lead jacket for you and your guests as you will experience a magnetic field 14 times stronger than Earth's and radiation levels that will blow your socks off.",
      name: "jupiter",
      portrait: "assets/images/planets/jupiter.png"
    },
    {
      info: "This gas giant is eighth planet from the Sun, making it the most distant planet in our Solar System. While not being very visible with the naked eye it was first observed in 1846 and has only been visited by a fly-by spacecraft once. This hydrogen , helium and methane gas laden planet will have you absorbing red light which in turn makes everything blue. Be sure to keep your seatbelts buckled during entry as Neptune is known for storm winds speeds of up to 1,500 mph.  Wanna be 'Forever Young'? Well, on Neptune you'll always be with a complete orbit of the sun every 165 years.",
      name: "neptune",
      portrait: "assets/images/planets/neptune.png"
    },
    {
      info: "Want a tan for your amazing beach body? You can get crispy and fired up with temperatures reaching 15 million degrees Celsius! Be sure to cool off by visiting the Sun's surface where the temperature is a mere 5,600 degrees Celsius. The Sun is an almost perfect sphere of Hydrogen and Helium, with nuclear fusion happening at its core. Don't be fooled this is one of our Hottest destinations with daily one-way trips on your schedule.",
      name: "sun"
    }
  ];

  const selectPlanet = (planetName) => {
    const { name, info, portrait } = planets.find((planet) => planet.name === planetName);

    $("#planet-portrait").attr("src", portrait);
    $("#planet-title").text(`${name.charAt(0).toUpperCase()}${name.slice(1)}`);
    $("#planet-info").text(info);
  }
  
  $(".mercury").on("click", () => selectPlanet("mercury"));
  $(".venus").on("click", () => selectPlanet("venus"));
  $(".earth").on("click", () => selectPlanet("earth"));
  $(".mars").on("click", () => selectPlanet("mars"));
  $(".jupiter").on("click", () => selectPlanet("jupiter"));
  $(".saturn").on("click", () => selectPlanet("saturn"));
  $(".uranus").on("click", () => selectPlanet("uranus"));
  $(".neptune").on("click", () => selectPlanet("neptune"));
}));
</script>
<div class="rockets-block">
  <div class="header">
    <h2>Rockets you can count on!</h2>
  </div>
  <div class="rockets-block-container">
    <div class="card">
      <div class="card-title">
        SpaceX Family
      </div>
      <div class="card-image"><img src="https://spacenews.com/wp-content/uploads/2014/11/Falcon9_SpaceX02-427x485.jpg"
          alt="falcon rocket"></div>

      <div class="line-break"></div>
      <div class="card-text">Come on haven't you heard of this awesome rocket????!</div>
    </div>
    <div class="card">
      <div class="card-title">
        Blue Origin Family
      </div>
      <div class="card-image"><img src="https://spacenews.com/wp-content/uploads/2014/11/Falcon9_SpaceX02-427x485.jpg"
          alt="falcon rocket"></div>
      <div class="line-break"></div>
      <div class="card-text">Lmao this rocket is FIRE!!</div>
    </div>
    <div class="card">
      <div class="card-title">
        ULA Family
      </div>
      <div class="card-image"><img src="https://spacenews.com/wp-content/uploads/2014/11/Falcon9_SpaceX02-427x485.jpg"
          alt="falcon rocket"></div>
      <div class="line-break"></div>
      <div class="card-text">Our rockets !! WHO NEEDS BLUE ORIGIN NOW !</div>
    </div>
  </div>
</div>

<div class="launch-sites-block">

  <div class="header">
    <h2>Explore our launch sites</h2>
  </div>

  <div class="launch-site-container">
    <div class="row">
      <div class="card">
        <div class="card-title">
          Cape Canaveral
        </div>
        <div class="card-image"><img src="/assets/images/kennedy-launch-site.jpg" alt="Cape Canaveral"></div>
      </div>
      <div class="card">
        <div class="card-title">
          Cape Canaveral
        </div>
        <div class="card-video">
          <iframe src="https://www.youtube.com/embed/ZQDAwhAKyj8" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="card-title">
          Colorado Air and Space Port
        </div>
        <div class="card-image"><img src="/assets/images/colorado-launch-site.jpg" alt="Colorado Air and Space Port">
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          Colorado Air and Space Port
        </div>
        <div class="card-video"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/4oNQmzyL0Bw"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="card">
        <div class="card-title">
          Vandenburg A.F.B.
        </div>
        <div class="card-image"><img src="/assets/images/vandenburg-launch-site.jpg" alt="Vandenburg A.F.B."></div>
      </div>
      <div class="card">
        <div class="card-title">
          Vandenburg A.F.B.
        </div>
        <div class="card-image"><video controls src="/assets/images/vandenburg-launch-site-vid.mp4"></video></div>
      </div>
    </div>
  </div>
</div>

<div class="ready-block">
  <div class="header">Here we go are you ready now? Do you want to lose the gravity?</div>
  <form action="/dashboard">
    <button type="submit" class="ready-button header">Ready to dive in (fly out)?</input></form>
</div>