<div class="login-signup-block">

    <div class="header">
        <h1>Signup</h1>
    </div>

    <div class="card">
        {{> messages}}
        <nav class="navbar-block">
            <ul>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        <div class="line-break"></div>
        <form id="signup" name="signup" method="post" action="/signup">
            <div class="login-field-block">
                <label for="email">Email:</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="email@domain.com">
            </div>
            <div class="password-field-block">
                <label for="password">Password:</label>
                <input name="password" type="password" class="form-control" id="password" placeholder="password">
            </div>
            <div class="password-field-block">
                <label for="password2">Re-Enter Password:</label>
                <input name="password2" type="password" class="form-control" id="password2"
                    placeholder="re-enter password">
            </div>

            <button class="login-signup-button" type="submit">Signup</button>
        </form>
    </div>
</div>