.nav {
    list-style-type: none;
    margin-left: 0;
}

.nav li {
    display: inline-block;
    padding-right: 25px;
}

@media screen and (min-width: 800px) {
    nav li:first-child a {
        margin-left: -15px;
    }
}