@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
  background-color: #333;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  padding-inline-start: 0;
}

.line-break {
  height: 5px;
  width: 80%;
  border-top: 3px solid #333333;
  border-radius: 1px;
  margin: 10px auto;
}

.header {
  text-align: center;
  font-size: 4em;
  margin: 20px 0;
}

.card {
  text-align: center;
  background: #fff;
  height: fit-content;
  width: auto;
  margin: 20px 30px;
  min-width: 30%;
  max-width: 30%;
  padding: 20px;
  box-sizing: border-box;
  border: #3eacd1 solid 1px;
  word-wrap: break-word;
}

.card .card-title {
  font-size: 2em;
}

.card .card-image {
  text-align: center;
  margin: 20px 20px;
}

.card .card-image img {
  width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.61);
}

.card .card-text {
  font-size: 1.3em;
}

.card .card-video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.card .card-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.alert {
  padding: 12px;
  border: 1px solid rgba(51, 51, 51, 0.6);
}

.alert-warning {
  box-shadow: 0px 6px 12px 6px #ea8ee8;
}

.alert-success {
  box-shadow: 0px 6px 12px 6px #75efc7;
}

/* ----------------------- */

.header-container {
  position: relative;
  display: flex;
  background-color: #333;
  height: 100px;
  border-bottom: 2px solid aquamarine;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}

.header-container h1 {
  color: #fff;
}

.header-container .title-container {
  margin: auto;
  text-align: center;
}

.header-container .dashboard-button {
  position: absolute;
  right: 1%;
  top: 25%;
  height: 50px;
  width: 50px;
  background: url("/assets/images/dashboard.png");
  background-position: center;
  background-size: cover;
  margin-left: auto;
}

/* ----------------------- */

.welcome-block {
  position: relative;
  height: 600px;
  background-color: black;
  background: linear-gradient(30deg, rgba(199, 242, 249, 1) 0%, rgba(16, 19, 38, 1) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.welcome-block .cosmos {
  /* background: #333; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welcome-block .cosmos .star {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
}

/* left side stars */
.welcome-block .cosmos .star:nth-child(1) {
  top: 25%;
  left: 30%;
  opacity: 0;
  animation: flying-star1 3s linear infinite;
  animation-delay: -2s;
  filter: blur(1px);
  transform: scale(3);
}

.welcome-block .cosmos .star:nth-child(2) {
  top: 9%;
  left: 30%;
  opacity: 0;
  animation: flying-star2 3s linear infinite;
  animation-delay: -1.2s;
}

.welcome-block .cosmos .star:nth-child(3) {
  top: 33%;
  left: 38%;
  opacity: 0;
  animation: flying-star3 2.6s linear infinite;
  animation-delay: 1.8s;
}

.welcome-block .cosmos .star:nth-child(4) {
  top: 7%;
  left: 22%;
  opacity: 0;
  animation: flying-star4 3s linear infinite;
  animation-delay: 3s;
}

.welcome-block .cosmos .star:nth-child(5) {
  top: 22%;
  left: 11%;
  opacity: 0;
  animation: flying-star5 3s linear infinite;
}

.welcome-block .cosmos .star:nth-child(6) {
  top: 40%;
  left: 3%;
  opacity: 0;
  animation: flying-star6 3s linear infinite;
  animation-delay: 2.7s;
}

.welcome-block .cosmos .star:nth-child(7) {
  top: 47%;
  left: 26%;
  opacity: 0;
  animation: flying-star7 2.6s linear infinite;
  animation-delay: 4.2s;
}

.welcome-block .cosmos .star:nth-child(8) {
  top: 53%;
  left: 13%;
  opacity: 0;
  animation: flying-star8 3s linear infinite;
  animation-delay: 1.6s;
}

.welcome-block .cosmos .star:nth-child(9) {
  top: 69%;
  left: 5%;
  opacity: 0;
  animation: flying-star9 3s linear infinite;
  animation-delay: .3s;
}

.welcome-block .cosmos .star:nth-child(10) {
  top: 79%;
  left: 32%;
  opacity: 0;
  animation: flying-star10 2s linear infinite;
  animation-delay: 5.2s;
}

.welcome-block .cosmos .star:nth-child(11) {
  top: 74%;
  left: 20%;
  opacity: 0;
  animation: flying-star11 3s linear infinite;
  animation-delay: 2.3s;
}

.welcome-block .cosmos .star:nth-child(12) {
  top: 88%;
  left: 11%;
  opacity: 0;
  animation: flying-star12 1.9s linear infinite;
}

/* right side stars */
.welcome-block .cosmos .star:nth-child(13) {
  top: 17%;
  left: 96%;
  opacity: 0;
  animation: flying-star13 3s linear infinite;
  animation-delay: -2s;

}

.welcome-block .cosmos .star:nth-child(14) {
  top: 31%;
  left: 82%;
  opacity: 0;
  animation: flying-star14 3s linear infinite;
  animation-delay: -1.2s;
}

.welcome-block .cosmos .star:nth-child(15) {
  top: 48%;
  left: 72%;
  opacity: 0;
  animation: flying-star15 2.6s linear infinite;
  animation-delay: 1.1s;
}

.welcome-block .cosmos .star:nth-child(16) {
  top: 52%;
  left: 91%;
  opacity: 0;
  animation: flying-star16 3s linear infinite;
  animation-delay: 3s;
}

.welcome-block .cosmos .star:nth-child(17) {
  top: 79%;
  left: 96%;
  opacity: 0;
  animation: flying-star17 3s linear infinite;
}

.welcome-block .cosmos .star:nth-child(18) {
  top: 70%;
  left: 69%;
  opacity: 0;
  animation: flying-star18 3s linear infinite;
  animation-delay: 2.7s;
}

.welcome-block .cosmos .star:nth-child(19) {
  top: 81%;
  left: 55%;
  opacity: 0;
  animation: flying-star19 2.6s linear infinite;
  animation-delay: 4s;
}

.welcome-block .cosmos .star:nth-child(20) {
  top: 56%;
  left: 57%;
  opacity: 0;
  animation: flying-star20 3s linear infinite;
  animation-delay: 1.3s;
  filter: blur(1.5px);
  transform: scale(2.5);
}

.welcome-block .cosmos .star:nth-child(21) {
  top: 74%;
  left: 85%;
  opacity: 0;
  animation: flying-star21 3s linear infinite;
  animation-delay: .2s;
}

.welcome-block .cosmos .star:nth-child(22) {
  top: 86%;
  left: 43%;
  opacity: 0;
  animation: flying-star22 2s linear infinite;
  animation-delay: 5.2s;
}

.welcome-block .cosmos .star:nth-child(23) {
  top: 7%;
  left: 74%;
  opacity: 0;
  animation: flying-star23 3s linear infinite;
  animation-delay: 2.3s;
  filter: blur(1px);
  transform: scale(3);
}

.welcome-block .cosmos .star:nth-child(24) {
  top: 4%;
  left: 55%;
  opacity: 0;
  animation: flying-star24 1.9s linear infinite;
}

/* left side star animations */
@keyframes flying-star1 {
  0% {
    top: 25%;
    left: 30%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 95%;
    left: 0%;
    opacity: 0;
  }
}

@keyframes flying-star2 {
  0% {
    top: 9%;
    left: 30%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 85%;
    left: 0%;
    opacity: 0;
  }
}

@keyframes flying-star3 {
  0% {
    top: 33%;
    left: 38%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 17%;
    /* opacity: 0; */
  }
}

@keyframes flying-star4 {
  0% {
    top: 7%;
    left: 22%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: -12%;
    opacity: 0;
  }
}

@keyframes flying-star5 {
  0% {
    top: 22%;
    left: 11%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: -25%;
    opacity: 0;
  }
}

@keyframes flying-star6 {
  0% {
    top: 40%;
    left: 3%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: -19%;
    opacity: 0;
  }
}

@keyframes flying-star7 {
  0% {
    top: 47%;
    left: 26%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 2%;
    opacity: 0;
  }
}

@keyframes flying-star8 {
  0% {
    top: 53%;
    left: 13%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: -7%;
    opacity: 0;
  }
}

@keyframes flying-star9 {
  0% {
    top: 69%;
    left: 5%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: -7%;
    opacity: 0;
  }
}

@keyframes flying-star10 {
  0% {
    top: 79%;
    left: 32%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 25%;
    opacity: 0;
  }
}

@keyframes flying-star11 {
  0% {
    top: 74%;
    left: 20%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 8%;
    opacity: 0;
  }
}

@keyframes flying-star12 {
  0% {
    top: 88%;
    left: 11%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 6%;
    opacity: 0;
  }
}

/* right side star animations */
@keyframes flying-star13 {
  0% {
    top: 17%;
    left: 96%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 65%;
    opacity: 0;
  }
}

@keyframes flying-star14 {
  0% {
    top: 31%;
    left: 82%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 58%;
    opacity: 0;
  }
}

@keyframes flying-star15 {
  0% {
    top: 48%;
    left: 72%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 54%;
    opacity: 0;
  }
}

@keyframes flying-star16 {
  0% {
    top: 52%;
    left: 91%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 76%;
    opacity: 0;
  }
}

@keyframes flying-star17 {
  0% {
    top: 79%;
    left: 96%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 91%;
    opacity: 0;
  }
}

@keyframes flying-star18 {
  0% {
    top: 70%;
    left: 69%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 57%;
    opacity: 0;
  }
}

@keyframes flying-star19 {
  0% {
    top: 81%;
    left: 55%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 49%;
    opacity: 0;
  }
}

@keyframes flying-star20 {
  0% {
    top: 56%;
    left: 57%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 41%;
    opacity: 0;
  }
}

@keyframes flying-star21 {
  0% {
    top: 74%;
    left: 85%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 76%;
    opacity: 0;
  }
}

@keyframes flying-star22 {
  0% {
    top: 86%;
    left: 43%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 38%;
    opacity: 0;
  }
}

@keyframes flying-star23 {
  0% {
    top: 7%;
    left: 74%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 43%;
    opacity: 0;
  }
}


@keyframes flying-star24 {
  0% {
    top: 4%;
    left: 55%;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  100% {
    top: 100%;
    left: 20%;
    opacity: 0;
  }
}

.welcome-block .rocket {
  /* background: #333; */
  position: absolute;
  width: 80%;
  height: 600px;
  top: 2%;
  left: 0;
  opacity: 0;
  content: url("https://upload.wikimedia.org/wikipedia/commons/e/e5/Emojione_1F680.svg");
  animation: rocket-flying-off 2.4s cubic-bezier(0.41, 0.45, 0.82, 0.69) .5s 1 forwards, rocket-rotate 5s linear 20s infinite;
}

@keyframes rocket-flying-off {
  0% {
    top: 70%;
    left: -35%;
    opacity: 0;
  }

  100% {
    top: 2%;
    left: 0;
    opacity: 1;
  }
}

@keyframes rocket-rotate {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-5deg);
  }

  40% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.welcome-block #welcome-title {
  position: absolute;
  text-align: center;
  max-width: 17%;
  top: 15%;
  left: 70%;
  background: #3eacd1;
  color: aliceblue;
  padding: 20px 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 5px rgba(191, 182, 245, .3);
}

.welcome-block #welcome-title h2 {
  font-size: 4em;
  text-shadow: 0 0 5px #fff;
}

/* ----------------------- */

.about-block {
  min-height: 300px;
  justify-content: center;
  align-items: center;
  background: rgb(201, 231, 236);
  background: url("/assets/images/night_launch.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 30px solid #333;
}

.about-block>video {
  margin: 50px auto 50px 15%;
  max-width: 70%;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 5px #03a8f46b;
}


.about-block-container {
  display: flex;
}

.about-block-container .about-text {
  display: flex;
  flex-direction: column;
}

.about-block-container .about-company-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-block-container .about-text .welcome-text {
  background: #fff;
  padding: 3vh 5%;
  margin: 5vh 4% 2vh 1%;
  font-size: 1.2em;
  line-height: 1.4em;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px 5px #03a8f46b;
}

.about-block-container .about-text .welcome-text p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.about-block-container .about-text .welcome-image {
  padding: 1vh 2%;
  margin: 1vh 4% 1vh 1%;
  font-size: 22px;
  box-sizing: border-box;
}

.about-block-container .about-text .welcome-image img {
  width: 100%;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 5px #03a8f46b;
}

.about-block-container .about-text:nth-child(1) {
  margin: 3vh 4% 1vh 1%;
}

.about-block-container .about-planets {
  font-family: 'Space Mono', monospace;
  background: #fff;
  min-height: 300px;
  min-width: 300px;
  margin-right: 10%;
  padding: 20px;
  font-size: 1.5em;
  line-height: 1.4em;
  box-shadow: 0px 0px 6px 5px #03a8f46b;
}

/* ----------------------- */

.planets-block {
  /* background: rgb(253, 199, 163);
  background: radial-gradient(circle, rgba(253, 199, 163, 1) 24%, rgba(245, 184, 225, 1) 53%, rgba(144, 154, 242, 1) 87%); */
  height: 1100px;
  min-height: 900px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.planets-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 18%;
  min-height: 700px;
  width: 30%;
  max-width: 40%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 1;
  padding: 20px;
  border: 7px solid #3eacd1;
  border-radius: 20px;
}

.planets-modal>* {
  padding: auto;
  margin: auto;
}

.planets-modal>* img {
  width: 300px;
}

.planets-modal .modal-header h4 {
  font-size: 3em;
}

.planets-modal .modal-text p {
  font-size: 1.5em;
}

.planets-solar-system {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
}

.planets-solar-system .sun {
  position: absolute;
  width: 20%;
  height: 20%;
  background: yellow;
  border-radius: 50%;
}

.planets-solar-system .orbit1 {
  width: 25%;
  height: 25%;
  border: 5px solid rgba(255, 255, 255, 0.35);
  position: absolute;
  border-radius: 50%;
}

.planets-solar-system .orbit2 {
  width: 35%;
  height: 35%;
  border: 5px solid rgba(255, 255, 255, 0.35);
  position: absolute;
  border-radius: 50%;
}

.planets-solar-system .orbit3 {
  width: 49%;
  height: 49%;
  /* background-color: #a5a5a5; */
  border: 5px solid rgba(255, 255, 255, 0.35);
  position: absolute;
  border-radius: 50%;
}


.planets-solar-system .orbit4 {
  width: 60%;
  height: 60%;
  /* background-color: #a5a5a5; */
  border: 5px solid rgba(255, 255, 255, 0.35);
  position: absolute;
  border-radius: 50%;
}

.planets-solar-system .orbit5 {
  width: 70%;
  height: 70%;
  /* background-color: #a5a5a5; */
  border: 5px solid rgba(255, 255, 255, 0.35);
  position: absolute;
  border-radius: 50%;
}

.planets-solar-system .orbit6 {
  width: 77%;
  height: 77%;
  /* background-color: #a5a5a5; */
  border: 5px solid rgba(255, 255, 255, 0.35);
  position: absolute;
  border-radius: 50%;
}

.planets-solar-system .orbit7 {
  width: 84%;
  height: 84%;
  /* background-color: #a5a5a5; */
  border: 5px solid rgba(255, 255, 255, 0.35);
  position: absolute;
  border-radius: 50%;
}

.planets-solar-system .orbit8 {
  width: 90%;
  height: 90%;
  /* background-color: #a5a5a5; */
  border: 5px solid rgba(255, 255, 255, 0.35);
  position: absolute;
  border-radius: 50%;
}

.planets-solar-system .orbit9 {
  width: 95%;
  height: 95%;
  /* background-color: #a5a5a5; */
  border: 5px solid rgba(255, 255, 255, 0.35);
  border-radius: 50%;
}

.planets-solar-system .sun>* {
  position: absolute;
  width: 100%;
  height: 100%;
}

.planets-solar-system .sun>* img {
  width: 90%;
}

.planets-solar-system .sun .mercury {
  animation: spin 10s linear -5s infinite;
}

.planets-solar-system .sun .mercury img {
  position: absolute;
  top: -80px;
}

.planets-solar-system .sun .venus {
  animation: spin 14s linear -2s infinite;
}

.planets-solar-system .sun .venus img {
  position: absolute;
  top: -120px;
}

.planets-solar-system .sun .earth {
  animation: spin 20s linear -5s infinite;
}

.planets-solar-system .sun .earth img {
  position: absolute;
  top: -180px;
}

.planets-solar-system .sun .moon {
  animation: spin 20s linear -4.9s infinite
}

.planets-solar-system .sun .moon img {
  position: absolute;
  width: 30%;
  top: -150px;
}

.planets-solar-system .sun .mars {
  animation: spin 28s linear -20s infinite;
}

.planets-solar-system .sun .mars img {
  position: absolute;
  top: -220px;
}

.planets-solar-system .sun .jupiter {
  animation: spin 36s linear 0s infinite;
}

.planets-solar-system .sun .jupiter img {
  position: absolute;
  top: -260px;
}

.planets-solar-system .sun .saturn {
  animation: spin 55s linear -49s infinite;
}

.planets-solar-system .sun .saturn img {
  position: absolute;
  top: -275px;
}

.planets-solar-system .sun .uranus {
  animation: spin 80s linear -30s infinite;
}

.planets-solar-system .sun .uranus img {
  position: absolute;
  top: -320px;
}

.planets-solar-system .sun .neptune {
  animation: spin 100s linear -3s infinite;
}

.planets-solar-system .sun .neptune img {
  position: absolute;
  top: -330px;
}

.planets-solar-system .sun .pluto {
  animation: spin 130s linear -80s infinite;
}

.planets-solar-system .sun .pluto img {
  position: absolute;
  top: -360px;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ----------------------- */

.rockets-block {
  min-height: 600px;
  border-top: 10px solid #3eacd1;
  background: rgb(253, 199, 163);
  background: radial-gradient(circle, rgba(253, 199, 163, 1) 24%, rgba(245, 184, 225, 1) 52%, rgba(144, 154, 242, 1) 87%);
}

.rockets-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rockets-block-container .card {
  max-width: 20%;
}


.rockets-block .header h2 {
  color: #fff;
  font-size: 0.9em;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff;
}

.rockets-block .header .smaller-header {
  font-size: 0.5em;
  margin: 20px auto;
}

/* ----------------------- */

.launch-sites-block {
  min-height: 600px;
  border-top: 10px solid #3eacd1;
  background: rgb(51, 51, 51);
  background: radial-gradient(circle, rgba(51, 51, 51, 1) 62%, rgba(144, 154, 242, 0.2833727240896359) 100%);
}

.launch-sites-block .header h2 {
  color: #fff;
  font-size: 0.9em;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff;
}

.launch-sites-block .card {
  max-width: 50%;
}

.launch-site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.launch-site-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------- */

.ready-block {
  min-height: 300px;
  border-top: 10px solid #3eacd1;
  background: #333;
  color: #fff;
  text-align: center;

}

.ready-block .ready-button {
  padding: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
}

.ready-block .ready-button:hover {
  animation: button-gradient-animation 4s linear 0s infinite;

}

@keyframes button-gradient-animation {
  from {
    background-position: 0%;
  }

  10% {
    box-shadow: 0px 0px 50px 5px #03a9f4;
  }

  to {
    background-position: 400%;
  }
}

/* ----------------------- */




/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* LOGIN */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
.easter-gif {
  position: fixed;
  left: 3%;
  opacity: 0;
  animation: gif-appear 3s linear 10s 1 forwards;
}

.easter-gif-signup {
  animation: gif-appear 3s linear 3s 1 forwards
}

@keyframes gif-appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.easter-gif img {
  border-radius: 20px;
  max-width: 75%;
}

.example {
  min-height: 100px;
  min-width: 200px;
  position: fixed;
  right: 20%;
  top: 50%;
  text-align: center;
  background: #fff;
  border-radius: 2px;
}

.example-header {
  text-shadow: 0 0 5px #fff;
  font-size: 1.2em;
  padding: 5px;
}

.login-signup-block {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-signup-block .header {
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

.login-signup-block .line-break {
  border-top: 1px solid rgba(51, 51, 51, 0.6);
  margin: 10px auto;
  width: 90%;
}

.login-signup-block .card {
  padding: 0 100px 50px 100px;
}

.login-signup-block .card form {
  display: flex;
  flex-direction: column;
}

.login-signup-block .card form .login-field-block>* {
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}

.login-signup-block .card form .password-field-block>* {
  margin: 10px auto;
  padding: 5px;
  text-align: center;
}

.login-signup-button {
  padding: 20px;
  text-align: center;
  background: rgb(255, 53, 189, .2);
  background: linear-gradient(90deg, rgba(144, 154, 242, .2) 23%, rgba(255, 53, 189, .2) 52%, rgba(144, 154, 242, .2) 80%);
  background-size: 200%;
  text-transform: uppercase;
  box-sizing: border-box;

}

.login-signup-button:hover {
  animation: button-gradient-animation2 10s linear 0s infinite;
}

.login-signup-button:active {
  filter: brightness(0.3);
  transition: .1s;
}

@keyframes button-gradient-animation2 {
  from {
    background-position: 0%;
  }

  10% {
    box-shadow: 0px 0px 10px 5px #03a8f456;
  }

  to {
    background-position: 400%;
  }
}

.login-signup-block input:focus {
  box-shadow: 0px 3px 16px 0.5px #ea8ee8;
}

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* NAVBAR */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */

.navbar-block {
  padding: 20px;
  text-align: center;
}

.navbar-block ul {
  margin: auto;
  list-style: none;
  border-top: 1px solid rgba(51, 51, 51, 0.6);
  border-left: 1px solid rgba(51, 51, 51, 0.6);
  border-right: 1px solid rgba(51, 51, 51, 0.6);
}

.navbar-block ul li {
  background: rgba(51, 51, 51, 0.05);
  padding: 5px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.6);
}

.navbar-block ul li:hover {
  background: rgba(51, 51, 51, 0.089);
  transition: .1s;
}

/* ----------------------- */
/* ----------------------- */
/* ----------------------- */
/* DASHBOARD */
/* ----------------------- */
/* ----------------------- */
/* ----------------------- */

.dashboard-block .header {
  color: #fff;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff;

}

.dashboard-block .line-break {
  border-top: 2px solid #fff;
}

#black-line-break {
  border-top: 2px solid #333;
}

.menu-block {
  display: flex;
  justify-content: center;
}

.menu-block button {
  font-weight: bold;
  color: rgb(212, 212, 212)
}

.expeditions-block button {
  width: 80%;
  padding: 20px 40px;
  margin: 20px;
}

.expeditions-block .login-signup-button {
  text-align: center;
  background: rgba(255, 53, 188, 0.555);
  background: linear-gradient(90deg, rgba(105, 120, 255, 0.699) 23%, rgba(255, 53, 188, 0.671) 52%);
  background-size: 200%;
  text-transform: uppercase;
  box-sizing: border-box;
}

.expeditions-block .header {
  color: #fff;
  text-shadow: 0 0 3px #fff, 0 0 3px #fff, 0 0 3px #fff;
}

table {
  margin: auto;
  border: 4px solid #555555;
  background-color: #555555;
  width: 70%;
  min-height: 300px;
  text-align: center;
  border-collapse: collapse;
  font-size: 1.3em;
}

table td,
table th {
  border: 1px solid #555555;
  padding: 5px 10px;
}

table tbody td {
  font-size: 1.3em;
  font-weight: normal;
  color: #FFFFFF;
  border: 2px solid #fff;
}

table td:nth-child(even) {
  background: #398AA4;
  border: 2px solid #555555;
}

table thead {
  background: #398AA4;
  border-bottom: 10px solid #fff;
}

table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #398AA4;
}

table thead th:first-child {
  border-left: none;
}

table tfoot td {
  font-size: 13px;
}

table tfoot .links {
  text-align: right;
}

table tfoot .links a {
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 2px 8px;
  border-radius: 5px;
}

.logout-button {
  position: absolute;
  top: 15px;
  right: 80px;
  height: 35px;
  width: 70px;
  background: rgba(255, 89, 89, 0.685);
  padding: 25px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
}

/* ----------------------- */
/* ----------------------- */
/* CHOOSE PLANET */
/* ----------------------- */
/* ----------------------- */

.expeditions-block {
  position: relative;
}

#choose-planet {
  padding: 15px 25px;
  background: rgb(255, 53, 189, .2);
  background: linear-gradient(90deg, rgba(144, 154, 242, .2) 23%, rgba(255, 53, 189, .2) 52%, rgba(144, 154, 242, .2) 80%);
  background-size: 200%;
  text-transform: uppercase;
  box-sizing: border-box;
  animation: choose-planet-gradient-animation 4s linear 0s infinite;
}

@keyframes choose-planet-gradient-animation {
  from {
    background-position: 0%;
  }

  10% {
    box-shadow: 0px 0px 20px 5px #03a9f4;
  }

  to {
    background-position: 400%;
  }
}

.reset-button {
  position: absolute;
  top: 15px;
  left: 5px;
  height: 35px;
  width: 65px;
  background: rgb(255 255 255 / 65%);
  padding: 25px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
}


/* ----------------------- */
/* ----------------------- */
/* TIMESTAMP */
/* ----------------------- */
/* ----------------------- */

form#timestamp-form {
  display: flex;
  text-align: center;
  flex-direction: column;
  max-width: 60%;
  align-items: center;
  margin: auto;
}

input#timestamp {
  margin-top: 25px;
  text-align: center;
  height: 100px;
  width: 300px;
  font-size: 1.5em;
  letter-spacing: 1px;
  padding: 10px 20px;
}

form#timestamp-form button {
  margin-top: 50px;
  background: linear-gradient(90deg, rgba(137, 255, 174, 1) 10%, rgba(163, 171, 249, 1) 50%, rgba(137, 255, 174, 1) 90%);
  height: 150px;
  color: #fff;
  font-weight: bold;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 4px;
  box-sizing: border-box;
  background-size: 400%;
  word-wrap: break-word;
  animation: final-submit-button-gradient-animation 5s linear 0s infinite;
}

form#timestamp-form button:hover {
  animation: final-submit-button-gradient-animation-hover 5s linear 0s infinite;

}

@keyframes final-submit-button-gradient-animation {
  from {
    box-shadow: 0px 0px 10px 10px #7cffb7;
  }

  50% {
    box-shadow: 0px 0px 30px 20px #7cffb7;
  }

  to {
    box-shadow: 0px 0px 10px 10px #7cffb7;

  }
}

@keyframes final-submit-button-gradient-animation-hover {
  from {
    background-position: 0%;
    box-shadow: 0px 0px 10px 10px #7cffb7;
  }

  50% {
    background-position: 100%;
    box-shadow: 0px 0px 100px 50px #7cffb7;
  }

  to {
    background-position: 400%;
    box-shadow: 0px 0px 10px 10px #7cffb7;
  }
}

/* ----------------------- */

/* SUCCESS */

/* ----------------------- */

.success-block img {
  margin-left: 25%;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 6px #ea8ee8;
}